// |=============== CONFIGURING DIFFERENT OPTIONS FOR POSITIONING THE BLOCK ===============>
// |CM| Flex
@mixin flex {
  display: flex;
}

@mixin f-jc-center {
  display: flex;
  justify-content: center;
}

@mixin f-ai-center {
  display: flex;
  align-items: center;
}

@mixin f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin f-jc-sb {
  display: flex;
  justify-content: space-between;
}

@mixin f-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin f-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin f-col-h-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin f-col-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin f-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin f-i-center {
  display: inline-flex;
  align-items: center;
}

// |CM| Grid
@mixin grid {
  display: grid;
}

@mixin g-center {
  display: grid;
  place-items: center;
}

// |CM| Position
@mixin p-h-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin p-v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin p-center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// |CM| Text-align
@mixin ta-c {
  text-align: center;
}

@mixin ta-r {
  text-align: right;
}
