// |=============== SETTING UP A MIXIN FOR CONNECTING FONTS ===============>
@mixin add-font($name-font-family, $path-to-font, $fw, $fs) {
  @font-face {
    src:
      url("../fonts/#{$path-to-font}.woff2") format("woff2"),
      url("../fonts/#{$path-to-font}.woff") format("woff");
    font-family: "#{$name-font-family}";
    font-weight: #{$fw};
    font-style: #{$fs};
    font-display: swap;
  }
}
